{% extends 'headerfooter.html' %} 
{% block title %}Zeit für Pinguine ausmalen!{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary m-2" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}


  <h1 class="text-center my-3">Wilkommen beim Wettbewerb der Flugpinguine!</h1>
  <hr>
  <p>
    <h3>Nun also zu der Siegerehrung des Flugpinguine Wettbewerbs:🐧✈️</h3>
    <hr>
    <h5>Zunächst mal vielen Dank an alle für die wunderschönen Uploads und die Teilnahme am Voting, mit 120 Abgaben und über 30 Tausend Votes eine krasse Leistung, es freut mich dass so viele mitgemacht haben! 🐧</h5>
<hr>
<h5>Ich finde, es waren teilweise echt sehr profesionell gemachte Bilder dabei, aber es gibt leider nur eine begrenzte Anzahl an Plätzen am Siegerpodium, und damit komme ich auch zu den Top 3 Flugpingus:</h5>
<hr>
<h5>Den dritten Platz hat sich <a href="/picture/25">Henri</a> verdient, dessen Zeichnung sehr farbenfroh etwas auf einer Skala zwischen Pingus in Wonderland und LSD Trip darstellt (eher in Richtung des letzteren) und damit den Großteil der Wähler überzeugt.</h5>
<div class="text-center">
<img src="{{ url_for('static',filename='files/25-dgvyvrbvvy.jpg') }}"  class="img-fluid br rounded img-thumbnail" alt="Henri">
</div>
<hr>

<br>
<h5>Die Silbermedaille bekommt <a href="/picture/106">Lukas</a>, der in seinem Bild die Thematik der schwarz-weißen (manchmal auch grauen) Luftfahrzeuge behandelt. Durch die fröhliche Cartoon-Artige Darstellung der Pinguine eignen sich seine Skills bestens dafür, um als ein Grafiker bei Disney Channel eingestellt werden!</h5>
<div class="text-center">
<img src="{{ url_for('static',filename='files/106-ltrmtegism.jpg') }}"  class="img-fluid br rounded img-thumbnail" alt="Lukas"> 
</div>
<hr>
<br>
<h5>Und der Sieger des Flugpingu-Wettbewerbs ist <a href="/picture/44">ZoeRazor</a> und darf sich auf einen Kasten Bier von Franz freuen! <br>
Indem er in seiner Zeichnung Miami Beach als Location verwendet und damit eine sommerliche Stimmung in der kalten (18° und so) Winterzeit verbreitet, konnte er sich die Zustimmung bei zwei Drittel der Votes verschaffen!🍺 </h5>
<div class="text-center">
  <img src="{{ url_for('static',filename='files/44-crifldjqkk.jpg') }}"  class="img-fluid br rounded img-thumbnail" alt="ZoeRazor">
</div>

<hr>
</p>

  <div class="my-5 text-center">
    <a class="btn btn-primary btn-lg m-3" href="{{ url_for('views.leaderboard') }}">Leaderboard</a>
  </div>

{% endblock %}
