{% extends 'headerfooter.html' %} 
{% block title %}Zeit für Pinguine ausmalen!{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-primary m-2" role="alert">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}


  <h1 class="text-center my-3">Wilkommen beim Wettbewerb der Flugpinguine!</h1>
  <hr>
  <h2 class="text-center my-2">Upload Deadline ist wie bei PGDP der Montag, 22.02.2021, 5:30, danach nur noch Voting möglich!</h2>
  <hr>
  <h2 class="text-center my-2">Die Gewinner werden am Dienstag, den 23.02.2021 auf dem Ersti-Info Discord geehrt!</h2>
  <hr>
  <h2 class="text-center my-2">Als Hauptpreis gibt es einen Kasten Bier von Franz (oder nach Wunsch auch eine Alternative)!🍺</h2>
  <div class="my-5 text-center">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <a class="btn btn-primary btn-lg m-3" href="{{ url_for('views.leaderboard') }}">Leaderboard</a>
          </div>
          <div class="col-sm">
            <a class="btn btn-primary btn-lg m-3" href="{{ url_for('views.voting') }}">Voting</a>
          </div>
          <div class="col-sm">
            <a class="btn btn-primary btn-lg m-3" href="{{ url_for('views.upload') }}">Upload</a>
          </div>
        </div>
      </div>
  </div>

{% endblock %}
