{% extends 'headerfooter.html' %} {% block title %} Deine Flugpinguine hochladen {%
    endblock %} {% block content %}
    <div class="m-3 text-center">
        <h1 class="m-3">Um die Spannung aufrecht zu erhalten, kann man das Leaderboard bis zur Siegerehrung nicht einsehen!</h1>
        <h1 class="m-3">Die Sieger werden um 20:30 veröffentlicht, ihr könnt auch gerne im Ersti Discord vorbeischauen zur Besprechung des Wettbewerbs!</h1>
        <img src="{{url_for('static',filename='nope.jpg')}}" class="img-fluid" alt="nope">

    </div>
    
    <script src="{{ url_for('static', filename = '/js/changeimage.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}