{% extends 'headerfooter.html' %} {% block title %} Registration! {%
    endblock %} {% block content %}
    <div class="m-3">
      <h1 class="my-2">Melde dich an, um ein Bild hochzuladen oder zu voten:</h1>
      <form action="/login_api" method="post">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}

      <div class="alert alert-primary" role="alert">
        {{ message }}
      </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" name="name" minlength="3" maxlength="255" placeholder="Pingu123">
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Passwort:</label>
        <input type="password" class="form-control" id="password" name="password" minlength="5" maxlength="255" placeholder="<('')">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
<p>Oder stattdessen <a href="/register">registrieren</a></p>
      </div>
    {% endblock %}
    