{% extends 'headerfooter.html' %} {% block title %} Passwort {%
    endblock %} {% block content %}
    <div class="m-3">
      <h1 class="my-2">Du wurdest erfolgreich registriert!</h1>
        <h2>Dein Passwort ist:</h2>
        <hr>
        <h1>{{ password }}</h1>
        <hr>
        <p>Wir bitten dich um ein exzellentes Verhalten auf der Webseite, insbesondere keine anderen Uploads außer ausgemalten Pinguinen! Auch kein Spam und kein Scripting! Vergiss bitte nicht dein Passwort, weil du dich sonst nicht anmelden kannst. Bei Fragen, Vorschlägen oder Beschwerden kannst du mich auf Discord kontaktieren: <a href="https://discordapp.com/users/matejsva#3270">Matej</a></p>
        <a href="/" class="btn btn-primary">Verstanden</a>
      </div>
    {% endblock %}
    