{% extends 'headerfooter.html' %} {% block title %} {{ picture.name}}'s Bild {%
    endblock %} {% block content %}
    <div class="m-3">
      <h1 class="my-2">{{ picture.name}}'s Bild:</h1>
      <hr>
      <img src="{{url_for('static',filename=picture.image_url)}}" class="card-img-top" alt="{{picture.name}}" />
      <hr>
      <div class="card-body">
        <h2 class="card-title">Platzierung: {{picture.place}}</h2>
        <h2 class="card-title">Score: {{picture.score}}</h2>
        
      </div></div>
    {% endblock %}
    