{% extends 'headerfooter.html' %} 
{% block title %}Rezepte, die du kochen kannst!{% endblock %}
{% block content %}
  <div class="row row-cols-3 my-5">
    {% if not recipes %}
      <h1>Leider keine Rezepte gefunden! :(</h1>
    {% endif %}

    {% for r in recipes %}
      <div class="card">
        <a href="{{url_for('views.recipe_detail', _id=r['obj'].id)}}">
          <img src="{{r['obj'].img_url}}" class="card-img-top" alt="r['obj'].title">
        </a>
        <div class="card-body">
          <h5 class="card-title">
            {{r['obj'].title}}
            <span class="badge badge-primary">
              {{ "%.f"|format(r['score']*100|round) }}%
            </span>
          </h5>
          <a href="{{url_for('views.recipe_detail', _id=r['obj'].id)}}" class="btn btn-primary">
            Mehr zu diesem Rezept
          </a>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}