{% extends 'headerfooter.html' %} {% block title %} Deine Flugpinguine hochladen {%
    endblock %} {% block content %}
    <div class="m-3 text-center">
        <h1 class="m-3">Lade dein Bild hoch:</h1>
        <form action="/upload_api" method="post" enctype="multipart/form-data">
            <div class="profile-image-change my-3" >
                <img src="" id="image_preview" style="width: 18rem;"/>
                <input type="file" name="file" onchange="readURL(this);" accept="image/*">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Kommentar</label>
                <textarea class="form-control" id="description" name="description" rows="3" maxlength="500"></textarea>
              </div>

            
        


        <input type="submit" value="Save" class=" my-3 btn btn-primary btn-lg">
        </form>
    </div>
    
    <script src="{{ url_for('static', filename = '/js/changeimage.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
{% endblock %}